* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.internal-header{
    display: flex;
    width: 60%;
    height: 50%;
    justify-content: space-between;
}

.internal-header ul{
    flex-direction: row;
    list-style: none;
    display: flex;
}

#logofont{
    width: 100%;
}

li{
    padding: 5px;
}

main{
    display:flex;
    align-content: center;
    justify-content: center;
}

.shop{
  display: flex;
  margin-top: 40px ;
  align-self: center;      
  width: 60% ;
  height: 1200px;
  flex-wrap: wrap;
}
.doubletags{
    position: relative
}
.tags50off{
    height: 20px;
    width: 40px;
    background-color: red;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50px;
}
.tags30off{
    height: 20px;
    width: 40px;
    background-color: red;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50px;
}
.tagssustain{
    height: 20px;
    width: 100px;
    background-color: green;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.tagssustainspc{
    height: 20px;
    width: 100px;
    background-color: green;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 50px;
}

.shop-item{
    height: 500px;
    width: calc((100% / 3 - 20px));
    flex-direction: column;
    margin: 10px;
}

.item-image1{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/1.webp);
    background-size: cover;
}

.item-image1:hover{
    background-image: url(../../img/1b.webp);
}
.item-image2:hover{
    background-image: url(../../img/2b.webp);
}
.item-image3:hover{
    background-image: url(../../img/3b.webp);
}
.item-image4:hover{
    background-image: url(../../img/4b.webp);
}
.item-image5:hover{
    background-image: url(../../img/5b.webp);
}
.item-image6:hover{
    background-image: url(../../img/6b.webp);
}

.item-image2{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/2.webp);
    background-size: cover;
}

.item-image3{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/3.webp);
    background-size: cover;
}
.item-image4{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/4.webp);
    background-size: cover;
}
.item-image5{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/5.webp);
    background-size: cover;
}
.item-image6{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(../../img/6.webp);
    background-size: cover;
}

.item-dsrc{
    margin-bottom: 20px;
}

span{
    color: red;
}

.footer{
    display: flex;
    background-color: rgb(36, 35, 34);
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.internal-footer{
    display: flex;
    width: 60%;
    justify-content: space-between;
    
}

.internal-footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

#sotto-lista-info{
    display: flex;
    flex-direction: row;
}